.rdg-cell {
    font-size: 13px;
    .rdg-cell-value {
        button {
            vertical-align: middle;
            color: #fff;
            border-color: #fff;
            font-size: 11px;
        }
        .actions svg {
            color: #3273dc;
            cursor: pointer;
            &:hover {
                color: #333;
            }
        }
    }
}

.rdg-head {
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    border-bottom: none;
    font-size: 13px;
    .level {
        height: 40px;
        padding: 0 15px;
        .level-item {
            cursor: pointer;
            font-weight: 500;
            span {
                margin-left: 5px;
            }
        }
    }
}

.ReactModal__Overlay {
    z-index: 99;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Content {
    .panel {
        .panel-heading {
            margin-bottom: 10px;
        }
        .panel-block {
            border-bottom: none;
            padding-top: 2px;
            padding-bottom: 2px;
            &,
            .input {
                font-size: 13px;
            }
            .level-left {
                width: 200px;
            }
        }
        .level {
            padding: 10px;
            .level-left,
            .level-right {
                width: 50%;
                .button {
                    width: calc(100% - 5px);
                }
            }
        }
    }
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}