.rdg-cell {
    font-size: 13px;
    .rdg-cell-value {
        overflow-x: scroll;
        button {
            vertical-align: middle;
            color: #fff;
            border-color: #fff;
            font-size: 11px;
            &.is-light {
                color: #363636;
            }
        }
        .actions svg {
            color: #3273dc;
            cursor: pointer;
            &:hover {
                color: #333;
            }
        }
    }
}

.rdg-head {
    height: 40px;
    border: 1px solid #ddd;
    background: #fff;
    border-bottom: none;
    font-size: 13px;
    .level {
        height: 40px;
        padding: 0 15px;
        .level-item {
            cursor: pointer;
            font-weight: 500;
            span {
                margin-left: 5px;
            }
        }
        .scroll-icons svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

.ReactModal__Overlay {
    z-index: 99;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Content {
    .panel {
        .panel-heading {
            margin-bottom: 10px;
        }
        .panel-block {
            border-bottom: none;
            padding-top: 2px;
            padding-bottom: 2px;
            &,
            .input {
                font-size: 13px;
            }
            .level-left {
                width: 200px;
            }
            .rs-picker-toggle-wrapper {
                display: block;
                width: 100%;
                .rs-picker-toggle, .rs-picker-toggle-custom {
                    z-index: 0;
                }
            }
        }
        > .level {
            padding: 10px;
            .level-left,
            .level-right {
                width: 50%;
                .button {
                    width: calc(100% - 5px);
                }
            }
        }
    }
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    .modal-buttons {
        position: sticky;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0px auto;
        padding: 10px;
        background: #fff;
    }
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.expand {
    color: #aaa;
}

.ReactModal__Body--open {
    .rs-picker-menu {
        z-index: 999;
    }
}

.remarks .rdg-viewport {
    max-height: 160px;
}

.remarks .rdg-cell:first-child {
    padding: 0px;
}