@import '../../node_modules/react-data-grid/dist/react-data-grid.css';
@import 'rdg';

html, body {
  background: #ECF0F3;
}
nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}
nav.navbar.is-white .navbar-brand > a.navbar-item,
nav.navbar.is-white .navbar-brand > a.navbar-item:hover,
nav.navbar.is-white .navbar-brand > a.navbar-item:focus {
    background: #276cda;
}
nav .navbar-brand a > * {
    color: #fff;
}
.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .title {
  color: #363636;
}
.info-tiles .subtitle {
  padding-top: 0;
  font-weight: 300;
  color: #8F99A3;
}
.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
.info-tiles .tile .title {
  font-size: 1.5rem;
}
.breadcrumb span {
  padding: 0 0.75em
}
.breadcrumb {
  line-height: 38px;
}
form {
  input[type="password"],
  input[type="text"] {
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    padding: 2px 8px;
    font-size: 1em;
    color: hsl(0,0%,20%);
    outline: none;
    margin: 5px 5px 5px 0;
  }
  
  input:focus {
    border-color: #2684FF;
    border-width: 2px;
  }
  
  button {
    border-color: #cccccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 28px;
    padding: 2px 8px;
    font-size: 0.8em;
  }
  
  button:valid {
    cursor: pointer;
  }
}

.rs-panel.rs-panel-default.rs-panel-collapsible {
  border-top: 1px solid #ccc;
  border-radius: 0;
  margin-top: 15px;
  padding-top: 10px;
}